<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>DNSLog Web</title>
    <link href="index_css.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h1>DNSLog</h1>
    <form id="dnslog-form" action="http://localhost:8080/log_dns" method="GET">
        <label for="domain_name">Enter the domain name:</label>
        <input type="text" id="domain_name" name="domain_name">
        <button type="submit" class="btn">Record DNS query</button>
    </form>
    <div id="result"></div>
    <script src="dnslog.js"></script>
</div>
</body>
</html>